#*/
#!fish
#!iTerm
#!git

*.bak
configstore/
fish/fishd.*
fish/fish_history
fish/conf.d/*.local.fish
fish-deps
fish_variables

aws-tunnel.fish
*-token.fish
fotobuch.de AG/
inkscape/
libimobiledevice/
mkvtoolnix/
LibreELEC/
micro/buffers
jenkins_jobs/jenkins_jobs.ini

karabiner/automatic_backups/
gh/
iterm2/

AutoDesk/
jgit/

kitty/*.conf.local

git/aspell-personal.dict

op/
