"*":
  "atom-beautify":
    general:
      _analyticsUserId: "ca4b2afe-3f08-45b2-81cf-5f935c3dc52e"
      analytics: false
  core:
    disabledPackages: [
      "language-toml"
      "language-ruby-on-rails"
      "language-ruby"
      "language-perl"
      "language-objective-c"
      "language-make"
      "language-csharp"
      "language-clojure"
      "language-c"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontFamily: "Fira Code"
    fontSize: 12
  "exception-reporting":
    userId: "797a3006-f5a6-919a-1905-29cfaeabf28f"
  "file-types":
    ".*/roles/.*.yml$": "source.ansible"
  "one-dark-ui": {}
  welcome:
    showOnStartup: false
